<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
  <div class="container">
    <%- include('header.ejs') %>
    <div class="row">
        <%- include('nav.ejs') %>
    </div>
  </div>
  <script src="/init.js"></script>
  <script src="/main.bundle.js"></script>
  </body>
</html>