<!DOCTYPE html>
<html>
<head>
  <title>登陆</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/skins/skin-blue.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <header class="main-header">
    <a href="javascript:;" class="logo">
      <span class="logo-lg">夜嗨</span>
    </a>
    <nav class="navbar navbar-static-top"></nav>
  </header>
  <div class="container" id="app" v-cloak>
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-login">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-6">
                              <a href="#login" :class="{ active: route === 'login'}" id="login-form-link" @click="changeRoute('login')">登录</a>
                          </div>
                          <div class="col-xs-6">
                              <a href="#register" :class="{ active: route === 'register'}" id="register-form-link" @click="changeRoute('register')">注册</a>
                          </div>
                      </div>
                      <hr>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-lg-12">
                              <form id="login-form" action="/login" method="post" role="form" v-show="route == 'login'">
                                  <div class="form-group">
                                      <input type="text" name="phonenumber" tabindex="1" class="form-control" placeholder="手机号码" v-model="phonenumber">
                                  </div>
                                  <div class="form-group">
                                      <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="密码" v-model="pwd">
                                  </div>
                                  <div class="alert alert-danger" role="alert" v-show="error_message"><strong>{{error_message}}</strong></div>
                                  <div class="form-group text-center">
                                      <input type="checkbox" tabindex="3" name="rememberme" id="remember">
                                      <label for="remember"> 记住我</label>
                                  </div>
                                  <div class="form-group">
                                      <div class="row">
                                          <div class="col-sm-6 col-sm-offset-3">
                                            <button type="submit" class="form-control btn btn-login" @click="clickLogin">登录</button>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                              <form id="register-form" action="/register" method="post" role="form" v-show="route == 'register'">
                                  <div class="form-group">
                                      <input type="text" name="phonenumber" id="username" v-model="r_phonenumber" tabindex="1" class="form-control js_phonenumber" placeholder="手机号码" value="">
                                  </div>
                                  <div class="form-group">
                                      <input type="password" name="password" v-model="r_pwd" tabindex="2" class="form-control js_pwd" placeholder="密码">
                                  </div>
                                  <div class="form-group">
                                      <input type="password" name="confirm-password" v-model="r_pwd_re" tabindex="2" class="form-control js_pwd_re" placeholder="再次输入密码">
                                  </div>
                                  <div class="alert alert-danger" id="register-tip" role="alert" v-show="r_register_tip">{{r_register_tip}}</div>
                                  <div class="form-group">
                                      <div class="row">
                                          <div class="col-sm-6 col-sm-offset-3">
                                            <button class="form-control btn btn-register" @click="clickRegister" :disabled="disabled">{{r_btn_text}}</button>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <a href="http://www.miitbeian.gov.cn/" target=_blank>鄂ICP备17004994号-1</a>
  <script>
    window.error_message = "<%=error_message%>"
  </script>
  <script src="<%=url('init.js')%>"></script>
  <script src="<%=url('login.bundle.js')%>"></script>
</body>
</html>