<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu">
      <%navs.forEach(function(nav) {%>
      <li class="treeview <%=isActive(nav.path, active)%>">
        <a href="/<%=nav.path%>"><%=nav.name%></a>
      </li>
      <%})%>
    </ul>
  </section>
</aside>