<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>大屏幕</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/show.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/piecesp.js"></script>
  <script src="/js/TweenMax.min.js"></script>
</head>
<body>
<div class="container">
    <div class="page-head">欢迎光临</div>
    <div id="app" v-cloak>
      <div class="msg-box-wrap">
          <div class="msg-box">
              <div class="msg-item" v-for="(item, index) in messages">
                  <img class="msg-avatar" :src="item.UserAvatar" alt="">
                  <div class="msg-content">
                      <span class="msg-user-name">{{item.UserName}}</span>
                      <span class="msg-created">{{item.createdAt}}</span>
                      <div class="msg-text">
                          <p v-if="item.msgType == 0">{{item.msgText}}</p>
                          <img v-else :src="item.msgImage">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="images">
        <carousel-3d
          :autoplay="true"
          :border="0">
          <slide v-for="(item, index) in images" :index="index"><img :src="item.msgImage" alt=""></slide>
        </carousel-3d>
      </div>
      <div class="baping-msg" v-if="bapingShow">
        <div class="bp-img" id="preview">
          <img :src="bapingMessage.msgImage" id="bp-effected-img" alt="">
        </div>
        <div class="bp-msg-wrap">
          <img :src="bapingMessage.UserAvatar" alt="" class="bp-user-avatar">
          <span class="bp-user-name">{{bapingMessage.UserName}}</span>
          <div class="bp-msg-text">{{bapingMessage.msgText}}</div>
          <div class="bp-msg-time">
            重金霸屏<span class="bp-sec">{{bapingMessage.seconds}}</span>秒
          </div>
        </div>
      </div>
  </div>
</div>
<script>
var messages = <%-JSON.stringify(messages)%>
</script>
<script src="<%=url('init.js')%>"></script>
<script src="<%=url('show.bundle.js')%>"></script>
</body>
</html>
